@model Medicine
@* @{
    ViewData["Title"] = "ShopSingle";
} *@

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="/">Home</a> <span class="mx-2 mb-0">/</span> <a asp-action="Index" asp-controller="Medicine">Store</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">@Model.Name</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 mr-auto">
                <div class="border text-center">
                    <img src="~/files/images/@Model.ImageName" class="card-img-top img-fluid mb-3" style="max-height:300px; max-width:250px;" alt="@Model.Name">
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2 class="text-black">@Model.Name</h2>
                <p>@Model.Description</p>
                <p>Left in Stock: @Model.Stock</p>
                <p>Category: @Model.Categories.Name</p>
                <p><strong class="text-primary h4">@Model.Price</strong></p>

                <p>
                    @if (Model.Stock > 0)
                    {
                        <form method="post" asp-action="AddToCart" asp-controller="Order" enctype="multipart/form-data">
                            <div asp-validation-summary="All"></div>
                            <div class="mb-5 d-flex align-items-center">
                                <input type="number" class="form-control text-center" value="1" placeholder=""
                                       aria-label="Example text with button addon" aria-describedby="button-addon1"
                                       min="1" max="@Model.Stock" name="quantity" required style="max-width: 100px;">
                                <input type="hidden" name="medicineId" value="@Model.Id" />
                                <input type="submit" value="Add To Cart" class="btn btn-primary ml-2" />
                            </div>
                        </form>
                    }
                    else
                    {
                        <span>Not Available</span>
                    }
                </p>
            </div>
        </div>
    </div>
</div>
